-- Credit remaining warning before out-of-credit auto-stop (active package only)
ALTER TABLE public.machines
  ADD COLUMN IF NOT EXISTS credit_warning_sent BOOLEAN DEFAULT FALSE;

COMMENT ON COLUMN public.machines.credit_warning_sent IS
  'Whether ~30-minute remaining-credit warning was sent for the current billing session';
